@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.about-me_section .container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-family: 'Freeman', sans-serif;
    max-width: 1705px;
    margin-left: 202px;
    margin-right: 0px;
    align-items: center;
}

.profile_image_container {
    width: 20vw; /* Define o tamanho do círculo */
    height: 20vw; /* Garante proporção circular */
    max-width: 400px; /* Define o tamanho máximo */
    max-height: 400px; /* Define a altura máxima */
    border-radius: 50%; /* Torna o contêiner um círculo */
    border: 2px solid white; /* Borda externa */
    position: relative;
    overflow: hidden; /* Garante que a imagem não "escape" do círculo */
    display: flex; /* Centraliza a imagem dentro do círculo */
    justify-content: center;
    align-items: center;
}

#profile_image {
    width: 100%; /* Faz a imagem preencher o contêiner */
    height: 100%;
    object-fit: cover; /* Garante que a imagem seja cortada corretamente para caber no círculo */
    transition: transform 0.3s ease; /* Animação de zoom */
}

#profile_image:hover {
    transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}



.welcomeText_section .welcomeText {
    position: absolute;
    font-size: 110px;
    text-align: center;
    background: linear-gradient(to right, #0678BF, #C9CFDB, #4ABFD9, #525252, #4ACAD9, #0678BF);
    background-size: 500% 100%;
    animation: gradient 10s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    top: 13%;
    width: 100%;
    user-select: none;
    left: 0px;
    font-family: 'Freeman', sans-serif;
}

.welcomeText {
    animation: typing 2s steps(2) 0.5s infinite alternate;
}

#about-me_section #aboutMe_title {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 0px;
    height: 800px;
    font-size: 4.19rem;
    color: #4acbd9d0;
    background-color: black;
    padding: 0.44rem;
    user-select: none;
}

#aboutMe_text {
    color: aliceblue;
    font-size: 1.6rem;
    right: -56px;
    position: relative;
    top: -40px;
    text-align: center;
    width: 64%;
    overflow: hidden;
    line-height: 1.25;
    margin: 2rem;
    padding: 1rem;
}

@media (max-width: 1200px) {

    .container, .about-me_section {
        max-width: 1200px;
    }

    .about-me_section .container {
        margin-left: 95px;
    }

    #aboutMe_text {
        font-size: 1.6rem;
        right: 353px;
        top: 113px;
        text-align: center;
        width: 69%;
        overflow: hidden;
        line-height: 1.25;
        margin: 0.2rem;
        padding: 0rem;
    }

    .welcomeText_section .welcomeText {
        font-size: 4.2rem;
        top: 9%;
        margin-left: 1.5vw;

        margin: 2rem;
        padding: 1rem;
    }

    #profile_image {
        top: -26.33vh;
        margin-left: 1.5vw;
    }
}
