@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.about-me_section .container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-family: 'Freeman', sans-serif;
    max-width: 1705px;
    margin-left: 202px;
    margin-right: 0px;
    align-items: center;
}

#profile_image {
    width: 400px;
    height: auto;
    border-radius: 100%;
    /* margin-right: 35px; */
    /* right: -75px; */
    align-items: center;
    position: relative;
    top: -30px;
    border: 2px solid white;
}

.about-me_section .welcomeText {
    position: absolute;
    font-size: 110px;
    text-align: center;
    background: linear-gradient(to right, #0678BF, #C9CFDB, #4ABFD9, #525252, #4ACAD9, #0678BF);
    background-size: 500% 100%;
    animation: gradient 10s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    top: 10%;
    width: 100%;
    user-select: none;
    left: 0px;
}

.welcomeText {
    animation: typing 2s steps(2) 0.5s infinite alternate;
}

#about-me_section #aboutMe_title {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 0px;
    height: 800px;
    font-size: 4.19rem;
    color: #4acbd9d0;
    background-color: black;
    padding: 0.44rem;
}

#aboutMe_text {
    color: aliceblue;
    font-size: 1.6rem;
    right: -110px;
    position: relative;
    top: -20px;
    text-align: center;
    width: 64%;
    overflow: hidden;
    line-height: 1.25;
}

/* Ajustes de responsividade para telas menores */
@media (max-width: 1200px) {
    .about-me_section .welcomeText {
        font-size: 4.2rem; /* Reduz um pouco em telas grandes */
        top: 14%;
    }
}

@media (max-width: 900px) {
    .about-me_section .welcomeText {
        font-size: 70px; /* Reduz ainda mais em telas médias */
    }
}

@media (max-width: 600px) {
    .about-me_section .welcomeText {
        font-size: 50px; /* Para dispositivos móveis */
    }
}