@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.resumes_container {
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.resume_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.resume {
    font-size: 10rem;
    background-color: black;
    border-radius: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.resume:hover {
    transform: scale(1.2);
    color: white;
}

#RESUME, #COVER-LETTER {
    font-family: 'Freeman', sans-serif;
    font-size: 2rem;
    color: white;
    white-space: nowrap;
    transition: 0.3s linear;
}

#RESUME:hover, #COVER-LETTER:hover {
    color: rgb(42, 159, 255);
    transition: 0.2s linear;
}