#education_title {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
    margin: 0px;
    padding-left: 0;
    position: absolute;
    left: -20px;
    /* font-size: 132px; */
    font-size: 141px;

    color: #4acbd9d0;
    background-color: black;
    padding: 6px;
    left: -15px;
    height: 800px;

    font-family: 'Freeman', sans-serif;
}

