#unisinos_icon {
    border-radius: 1rem;
    height: 48px;
    width: auto;
    left: 780px;
    top: 54px;
    position: relative;
}

#liberato_icon {
    border-radius: 1rem;
    height: 48px;
    width: auto;
    left: 728px;
    top: 146px;
    position: relative;
}

#harvard_icon {
    border-radius: 1rem;
    height: 54px;
    width: auto;
    left: 1431px;
    top: 61px;
    position: relative;
}