@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Freeman', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 20px;
    width: 100%;
}

.button-container .button {
    display: none;
}

.text {
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, #0678BF, #C9CFDB, #4ABFD9, #525252, #4ACAD9, #0678BF);
    background-size: 500% 100%;
    animation: gradient 10s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    position: absolute;
    top: 30%;
    width: 100%;
}

.content h2 {
    background: linear-gradient(to right, #4acbd9d0, #4fe957, #4acbd9d0);
    background-size: 500% 100%;
    animation: gradient 5s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.button {
    align-items: center;
    font-size: 30px;
    display: inline-block;
    padding: 10px 40px;
    background-color: #08459E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.1s;
}

.button:active {
    background-color: #f7fafa;
    color: #15e90e;
}

.button:hover {
    background-color: #000000;
    color: #01BFB7;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
    transition: height 0.7s;
    margin-top: 450px;
    /* right: 40%; */
}

.card:hover {
    height: 370px;
}

.card .img-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.7s, top 0.7s;
    border-radius: 200px;
    overflow: hidden;
}

.card:hover .img-box {
    top: 0%;
    transform: translate(-50%, -50%);
}

.card .img-box img {
    width: 99px;
    height: 99px;
    border-radius: 20%;
    object-fit: contain;
    transition-delay: 0.4s;
    border-radius: 15px;
}

.card:hover .img-box img {
    width: 130px;
    height: 130px;
    border-radius: 15%;
    transition: 0.7s;
    transition-delay: 0s;
}

.card:not(:hover) .img-box img {
    transition: 1.0s;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 120px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    max-height: 35px;
    overflow: hidden;
    transition: top 0.7s, max-height 0.8s;
    bottom: 0;
}

.content h2 {
    user-select: none;
    font-size: 30px;
    color: #3730a3;
}

.card:hover .content {
    top: 80px;
    max-height: 1000px;
}

.card .access-project {
    background: linear-gradient(90deg, #3730a3, #7e22ce);
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 80px;
}

.projectDescription {
    font-size: 15px;
}